:root {
    --main-bg-color: rgb(142, 3, 46);
    --main-bg-color-a: rgba(142, 3, 46, 0.8);
    --main-bg-color-a1: rgba(142, 3, 46, 0.28);
    --main-bg-color-a2: rgba(142, 3, 46, 0.2);
    --main-bg-color-dark: rgba(0, 0, 0, 0.12);
    --main-bg-color-light: #fff;
    --main-bg-image: #8e032e;
    --main-bg-image2: #84133C;
    --main-bg-image-dark: #D2D2D2;
    --main-bg-image-dark2: #D2D2D2;
}
